*__pycache__*
Testing/data/csv/enriched/events.csv

infra/stonks_lambdas/removed_params.json
infra/stonks_lambdas/get_node/dependencies/*
infra/stonks_lambdas/get_node/.aws-sam/deps/*

app_frontend/node_modules*
app_frontend/package-lock.json
.eslintrc
.prettierrc
.vscode*
flask-server/db/*
flask-server/utils/*
frontend/node_modules*
venv*
.env
