@import url('common.css');

.verticalContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: var(--default-padding);
}

.horizontalContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input_location_text_component_styles {
  position: relative;
  /* left: 50%; */
  /* transform: translateX(-50%); */
  width: 20%;
  height: 50px;
  border-radius: 8px;
  background-color: /* Add your defaultBackgroundColor value here */;
  color: /* Add your defaultFontColor value here */;
  margin: 10px auto;
  padding: 10px auto;
  /* ... Add styles from 'select_event_location_styles' here if necessary */
  top: 20px;
}

.pinStyle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
}

.submitCoordinatesButtonStyle {
  /* ... Add styles from 'button_styles.menu_button_styles' here if necessary */
  /* ... Add styles from 'select_event_location_styles' here if necessary */
  color: /* Add your defaultFontColor value here */;
  bottom: 20px;
}
